{% extends 'stats/master.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block current_tab %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="alert alert-info">
            <strong>Welcome!</strong> Snappa Stats is now online.
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <img src="{% static 'stats/classic-banner.png' %}" class="img-rounded">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Still don't know what Snappa is, brah?
                </div>
                <div class="panel-body">
                    <p>
                        Snappa is a table-based gentleman's drinking game where opposing players sit at
                        opposite ends and throw a die over a certain height with the goal of
                        either landing the die in their opponent's cup or having the die hit the table and
                        bounce over the scoring area to the floor. The defending team attempts to catch the
                        die one-handed after it hits the table, but before it touches a non-table surface.
                        The game typically consists of two two-player teams with each of the four players
                        having a designated cup on the table.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Still don't know what Snappa is, brah?
                </div>
                <div class="panel-body">
                    <p>
                        Snappa is a table-based gentleman's drinking game where opposing players sit at
                        opposite ends and throw a die over a certain height with the goal of
                        either landing the die in their opponent's cup or having the die hit the table and
                        bounce over the scoring area to the floor. The defending team attempts to catch the
                        die one-handed after it hits the table, but before it touches a non-table surface.
                        The game typically consists of two two-player teams with each of the four players
                        having a designated cup on the table.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Still don't know what Snappa is, brah?
                </div>
                <div class="panel-body">
                    <p>
                        Snappa is a table-based gentleman's drinking game where opposing players sit at
                        opposite ends and throw a die over a certain height with the goal of
                        either landing the die in their opponent's cup or having the die hit the table and
                        bounce over the scoring area to the floor. The defending team attempts to catch the
                        die one-handed after it hits the table, but before it touches a non-table surface.
                        The game typically consists of two two-player teams with each of the four players
                        having a designated cup on the table.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}