{% extends 'stats/master.html' %}

{% block title %}Roster{% endblock %}

{% block current_tab %}Roster{% endblock %}

{% block body %}
    {% verbatim %}
        <div ng-app="rosterApp" ng-controller="RosterController">

            <div class="panel panel-default" ng-cloak>
                <div class="panel-heading">
                    Current Snappa roster, there are currently {{ profiles.length }} profiles.
                </div>
                <div class="panel-body">

                    <div class="media" ng-repeat="profile in profiles | orderBy:'lastname'">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-circle" height="128px" width="128px" src="/media/avatars/{{ profile.id }}.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="col-md-8">
                                <h4 class="media-heading">{{ profile.firstname }} {{ profile.lastname }}</h4>
                                <strong>{{ profile.hometown }}:</strong> {{ profile.description }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    <script>
        angular.module('rosterApp', [])
                .controller('RosterController', ['$scope', '$http', function ($scope, $http) {
                    // Get profile info
                    $http({
                        method: 'GET',
                        url: '/api/v1/get/profiles/'
                    }).then(function (response) {
                        $scope.profiles = response.data;
                    });
                }]);
    </script>
{% endblock %}