<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Page - Snappa Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body ng-app="blog.testpage">
{% verbatim %}

    <div ng-controller="blog.testpage.controller" class="container-fluid">
        <h1>
            Snappa Stats Blog
        </h1>

        <label for="viewdates">View Dates: </label>
        <input id="viewdates" type="checkbox" ng-model="viewdates"/>

        <p ng-bind="testdata"></p>

        <div class="container">
            <div class="row">
                <div ng-repeat="entry in entries" ng-cloak class="col-md-4 pull-left">
                    <hr>
                    <h3>{{ entry.title }}<span ng-if="viewdates"> ({{ entry.date_published }})</span></h3>
                    <p>{{ entry.body }}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            Index
                        </td>
                        <td>
                            Title
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in entries" ng-cloak>
                        <td>
                            {{ $index }}
                        </td>
                        <td>
                            {{ entry.title }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <hr>
        <a href="/admin">Admin Site</a>
    </div>

{% endverbatim %}
<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    angular.module('blog.testpage', [])
            .controller('blog.testpage.controller', ['$scope', '$http', function ($scope, $http) {
                $scope.entries = [];
                {% for entry in entries %}
                    $scope.entries.push({
                        title: '{{ entry.title }}',
                        body: '{{ entry.body }}',
                        date_published: '{{ entry.date_published }}'
                    });
                {% endfor %}

                $http.get('/api/v1/get/user/1/').then( function (response) {
                    $scope.testdata = response.data.firstname;
                });
            }]);
</script>
</body>
</html>